<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>
    <div id="container">
      <h1 id="headerTitle">Awesome Website</h1>
      <a class="btn btn-primary" id="createActivityButton" href="/activities">Create Activity</a>

      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Tags</th>
          <th>Event Date</th>
          <th>Preview</th>
        </tr>
        <% activities.forEach(function(act){  %>
        <tr>
          <td><%= act.get('title')%></td>
          <td><%= act.get('tags')%></td>
          <td><%= act.get('eventDate').getFullYear() + '-' + act.get('eventDate').getMonth() + '-' + act.get('eventDate').getDay() %></td>
          <td><a href="?activityId=<%= act.id%>">Preview</a></td>
        </tr>
        <% })%>
      </table>

      <% if(currentActivity != null) { %>
      <div id="previewContainer">
        <h2><%= currentActivity.get('title')%></h2>
        <p><b>Event Date:</b> <%= currentActivity.get('eventDate')%></p>
        <p><b>Location:</b> <%= currentActivity.get('location')%></p>
        <%- currentActivity.get('content')%>
      </div>
      <% }%>
    </div>
  </body>
</html>
